html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
}
#map{
  width: 100%;
  height: 100%;
}
.color-blue{
  color:rgba(22, 73, 255, 0.99);
}
.color-orange{
  color:rgb(255, 120, 0);
}
/*-- Footer - navbar --*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: rgba(48, 48, 48, 0.7);
  color: white;
}

.footer a {
  display: block;
  color: white;
}

.footer a:hover {
  text-decoration: none;
}
/*-- End of footer - navbar --*/
/* --google remove footer and logo image-- */
.gm-style-cc{
 display: none;
}
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"]{
  display: none;
}
/* end of map */
.btns {
  display: inline-block;
  widows: 100%;
}

.btns button {
  margin: 0 10px;
}

.status{
  position: fixed;
  bottom: 60px;
  left: 10px;
  font-size: 18px;
  width: 120px;
  height: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  border-radius: 2px;
  text-align: center;
  color: rgb(0, 173, 23);
}
